.profile {
    display: flex;
    margin: 0 200px 50px 200px;
}

@media screen and (max-width: 1128px) {
    .profile {
        padding-top: 3.125vw;
        margin: 0 15.625vw 3.90625vw 15.625vw;
    }
}

@media screen and (max-width: 950px) {
    .profile {
        flex-direction: column;
        margin: 0 11.875vw 0 20.3125vw;
    }
}

@media screen and (max-width: 950px) {
    .profile {
        margin: 0 5.9375vw 36px 5.9375vw;
    }
}