.profile {
    display: flex;
    margin: 0 200px;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1128px) {
    .profile {
        padding-top: 3.125vw;
        margin: 0 15.625vw;
    }
}

@media screen and (max-width: 950px) {
    .profile {
        flex-direction: column;
        margin: 0;
    }
}

@media screen and (max-width: 540px) {
    .profile {
        margin: 0 5.9375vw;
        padding-top: 42px;
    }
}