.header {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    margin: 45px 200px 40px 200px;
    max-width: 880px;
    min-height: 74px;
}

@media screen and (max-width: 1128px) {
    .header {
        margin: 3.515625vw 15.625vw 3.125vw 15.625vw;
        max-width: 68.75vw;
        min-height: 5.78125vw;
    }
}

@media screen and (max-width: 540px) {
    .header {
        margin: 28px 0 42px 0;
        max-width: 100%;
        min-height: 74px;
    }
}