.elements__title {
    margin: 22px 0 25px 21px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 241px;
}